@import url('https://fonts.googleapis.com/css?family=Inter:400,500,600,700,800,900&display=swap');

:root {
    --primary-color: #1a1a1a;
    --secondary-color: #00d776;
    --danger-color: #e10000;
    --light-red: #ff9898;
    --background-main: #e8e8e8;
    --light: #a6a6a6;
    --light-green: #95c7b2;
    --super-light: #eaeaea;
    --secondary-dark: #00832f;

}

* {
    font-family: Inter, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.background {
    background-image: url(background.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: top;
    margin-top: 2%;
}