* {
    padding: 0%;
    margin: 0%;
    font-family: poppins;
    /* box-sizing: border-box; */
}

 hr{
    margin: 0% 10%;
  }

.leftbar {
    /* height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1; */
    /* top: 0; */
    left: 0;
    background-color: #F7FAF6;
    /* overflow-x: hidden; */
    padding-top: 16px;

    width: 300px;
    height: calc(100vh - 50px);
}


.leftbar i {
    margin-right: 10px;
    
}

.leftbar p{
    font-weight: lighter;
    font-size: small;color: #5d5d5d;
}

.leftbar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    margin: 20px;
}

.leftbar a:hover {
    color: #5d5b5b;
}

.leftbar p{
   /* margin-top: 0%; ; */
   margin: 0% 10%;
    
}
.leftbar .menu button{
   /* margin-top: 0%; ; */
   margin: 0% 10%;
   /* justify-content: center; */
   width: 70%;
   padding:3% ;
   display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-radius: 10%;
  background-color: #F7FAF6;
  font-size: 400;
  font-size: medium;
  font-weight: 600;
  
    
}

.leftbar .menu button :hover{
   background-color:#E5F2DB;
}

.leftbar .menu button img{
    margin-right: 10px;
}
.leftbar .menu button span {
    margin-left: 10px;
    margin-right: auto;
  }



.message-box{
    margin: 0% 10%;
    /* justify-content: center; */
    width: 70%;
    padding:3% ;
    /* display: flex; */
   /* align-items: center; */
   border: none;
   border-radius: 10%;
   background-color: #ffffff;
   height: 180px;
}

.message-footer{
    position: fixed;
    left: 60px;
    bottom: 80px;
}



.message-footer button {
    
    width: 110px;
    background-color: #4DEA25;
    border-radius: 10%;
    padding: 3%;
    font-size: small;
    font-weight: 500;
    border-style: none;
    border-width: 0;
    cursor: pointer;
    transition-duration: 0.4s;

}

.message-footer button:hover {
    background-color: #000000;
    color: #4DEA25;


}
  
.message0{
    width: 70%;
    padding:3% ;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: 
    "message1 message2";
    height: 20px;
    margin-top: 10px;
}

.message0 label:hover{
    cursor: pointer;
}

.message1{
    grid-area: message1;

}

.message1 img{
    border-radius: 50%;
    width: 80%;
}

.message2{
    grid-area: message2;
    font-size: 10px;
    align-items: center;
     justify-content: center;
     display: flex;
}

* {
    padding: 0%;
    margin: 0%;
    font-family: poppins;
    /* box-sizing: border-box; */
}

 hr{
    margin: 0% 10%;
  }

.container {
    /* display: grid;
    grid-template-rows: 10% 90%;
    /* grid-template-rows: 10% 90% ; */
    /* grid-template-areas:
    " topnav"
    "content"
    ;  */
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}



.content {
    /* background-color: antiquewhite; */
    /* overflow: hidden; */
     width: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;

    overflow: hidden;
}


#my-orders {
    font-weight: bold;
}


.page-selector {
    /* grid-area: page-selector; */
    /* background-color: #8cfc90; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-selector button {
    background-color: #F7FAF6;
    border: 2px rgba(143, 154, 145, 0.6) solid;
    padding: 1% 2%;
    margin: 1%;
    width: 15%;
    cursor: pointer;
    border-radius: 10px;
}

.page-selector button.active {
    background-color: rgb(77, 234, 37, 0.4);
    border: 2px rgba(88, 92, 88, 0.6) solid;
    color: rgba(46, 51, 45, 0.8);
    font-weight: 600;
}

.main {
    
    /* margin-left: 160px; */
    /* Same as the width of the sidenav */
    /* padding: 0px 10px; */
    
    width: 100%;
    height: calc(100vh - 50px);
}

.main-content {
    /* overflow: hidden; */
    overflow-y: scroll;
    height: 100%;
    margin-left: 5%;
    margin-bottom: 5%;
    
    
}

@media screen and (max-height: 450px) {
    .leftbar {
        padding-top: 15px;
    }

    .leftbar a {
        font-size: 18px;
    }
}













.bidding-post {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas:
        "image info";
    /* height: 80%;
    margin-bottom: 5%; */

     height: 240px;
    margin-bottom: 50px;
    padding: 50px;
}

.image {
    grid-area: image;
    background-color: beige;
    overflow: hidden;
    border-radius: 10%;


}

.image img {
    /* max-height: 80%; */
    /* max-width: 80%; */
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.info {
    grid-area: info;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 35% 35% 30%;
    grid-template-areas:
        "name-size-place price"
        "exp days"
        "bid-now bid-now"
    ;
    padding-left: 5%;
}

.name-size-place {
    grid-area: name-size-place;
    color: #0EBC1F;
}


.name-size-place label {
    font-size: 200%;
    font-weight: 1000;
}

.name-size-place image {
    display: inline-block;
}

/* .name-size-place p{
    color: #0EBC1F;
 } */

.price {
    grid-area: price;
    text-align: right;

}

.price h5 {
    font-size: 150%;
    font-weight: 400;
    color: #5d5d5d;
}

.price h3 {
    font-size: 180%;
}

.exp {
    grid-area: exp;
    color: #E43D3D;
}

.days {
    grid-area: days;
    text-align: right;
}

.remain {
    font-size: 130%;
    font-weight: 600;
    color: #0EBC1F;
}

.time1 {
    font-size: 130%;
    font-weight: 600;
    color: #0EBC1F;
}
.ends-on {
    font-size: 80%;
    color: #5d5d5d;
}

.bid-now {
    grid-area: bid-now;
}


.bid-now button {
    background-color: #4DEA25;
    border-radius: 10%;
    padding: 2%;
    font-weight: 600;
    border-style: none;
    border-width: 0;
    cursor: pointer;
    transition-duration: 0.4s;
    float: right;

}

.bid-now button:hover {
    background-color: #000000;
    color: #4DEA25;


}





.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.5); /* Dark background */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border-radius: 5%;
    border: 1px solid #888;
    width: 450px; /* Set the width to 661px */
    height: 200px; /* Set the height to 249px */
  }
  
  /* The Close Button */
  .closeBtn {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .closeBtn:hover,
  .closeBtn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    
  }
  .modal-header p {
    color: #FB7A7A;
    opacity: 80%;
    font-size: 80%;
    
  }
  .modal-body {
    padding: 2px 16px;
    /* justify-content: center;
    align-items: center; */
    padding-top: 10%;
    font-weight: 900;
  }

  .modal-body button{
    background-color: #4DEA25;
    border-radius: 10%;
    padding: 4%;
    font-weight: 600;
    border-style: none;
    border-width: 0;
    cursor: pointer;
    transition-duration: 0.4s;
    float: right;
  }
  .modal-body button:hover{
    background-color: #000000;
    color: #4DEA25;
  }
  
  .modal-body input{
      height: 20%;
  }
  .modal-body label{
    font-weight: bold;
    opacity: 60%;
}
  .modal-body input[type="text"] {
    width: 150px;
    height: 40px;
    border-radius: 5%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #d1cece;
  }
  
  .modal-body input[type="text"]::placeholder {
    color: rgba(77, 234, 37, 0.4);
  }
  
  .modal-body input[type="text"]:active {
    border: 2px solid #8cfc90;
  }

  .modal-body input[type="submit"] {
    height: 40px;
    width: 100px;
    border-radius: 10%;
    background-color: rgba(77, 234, 37, 0.2);
    color: #4DEA25;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .js-bid-now-btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  