*{
  font-family: 'Poppins';
}
.bid{
  position: absolute;
width: 1157px;
height: 380px;
left: 378px;
top: 260px;
overflow: auto;
}

.pro{
  position: absolute;
width: 50px;
height: 30px;
left: 421px;
top: 195px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
/* identical to box height */


color: #000000;
}

.Line5{
  position: absolute;
width: 931px;
height: 0px;
left: 371px;
top: 238.78px;

border: 1px solid rgba(0, 0, 0, 0.6);
}

.bid1{
  display: grid;
  grid-template-rows: 120px 120px 120px;
  row-gap: 20px;
  
}

.bid2{
  display: grid;
  grid-template-columns: 100px 140px 205px 205px 20px 130px 20px;
}

.img3{
  position: absolute;
width: 80px;
height: 80px;
border-radius: 5px;
}

.carr{
  display: grid;
  grid-row: 1 / span 3;
}

.box20{
  box-sizing: border-box;

  width: 110px;
  height: 42px;
  
  
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;   
}

.btn2{
  position: absolute;
width: 100px;
height: 35px;
border-width: 0px;

background: #4DEA25;
border-radius: 5px;
}

.btn2:hover{
  color: #4DEA25;
  background: black;
}

.img1{

  width: 40px;
  height: 40px;
  
}

.tot{
  position: absolute;
width: 264px;
height: 79px;
left: 1022px;
top: 660px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 72px;

color: #000000;
}