.containerx {
    display: grid;
    position: relative;
    grid-template-columns:5fr 5fr;
    grid-template-rows: 30% 55%;
    grid-template-columns: 100%;
    /* background-color:#2eda14; */
    min-height: 60%;
    /* grid-column-gap: 2rem; */
    /* grid-row-gap: 2rem; */
    grid-template-areas: 
            "header header header"
            "content content content";
    width: 865px; 
    /* justify-content:space-around;  */
    height:150px;  
    /* margin-top:40px; */
    left: 150px;    
  }

  .item-1 {
    grid-area: header;
    background-color: black;
  }
  
  .item-2 {
    grid-area: content;
    background-color: #D9D9D9;
  
  }
  
  .profile-pic {
      position: relative;
      width: 70px;
      height: 70px;
      left: 24px;
      top: 12px;
      border-radius: 50%;
  }
  
  .nam {
    position: relative;
      width: 70%;
      /* height: 70px; */
      left: 120px;
      bottom: 48px;
      color: aliceblue;
      font-size: 25px; 
      
  }
  
  .date {
    position: relative;
      width: 70%;
      /* height: 70px; */
      left: 120px;
      bottom: 65px;
      color: aliceblue;
      /* font-size: ; */
  }
  
  .head {
    position: relative;
    width: 70%;
    /* height: 70px; */
    left: 30px;
    top: 5px;
    color: rgb(14, 15, 15);
    font-size: 20px;
  }
  
  .table {
    position: relative;
    width: 90%;
    /* height: 70px; */
    left: 30px;
    top: 5px;
    /* color: rgb(14, 15, 15); */
    font-family: Poppins;
    size: 12px;
    line-height: 18px;
    /* border: 1px solid blue; */
    font-size: 15px;
    /* margin-left: 10px; */
    padding-right: 200px;
  
  }
  
   .Approve { 
    text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      transition-duration: 0.4s;
      cursor: pointer;
      padding: 6px 30px ;
      border-radius: 8px;
      margin-top: -140px;
      margin-left: 690px;
      border-color:rgb(24, 226, 21) ;
      position: absolute;
  
  }
  
  .Discard {
    text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      transition-duration: 0.4s;
      cursor: pointer;
      padding: 7px 28px ;
      border-radius: 8px;
      margin-top: -80px;
      margin-left: 690px;
      border-color:rgb(24, 226, 21) ;
      position: absolute;
  
  }

  .btn1 {
    background-color: #f1f4f0; 
   color: rgb(18, 225, 18); 
   border: 1px solid #4CAF50;
  }
  
  .btn1:hover {
     background-color: #2eda14;
   color: white;
  }
  
  .btn2 {
    background-color: #bb0e0b; 
   color: rgb(245, 248, 245); 
   border: 1px solid #4CAF50;
  }
  
  .btn2:hover {
     background-color: #aa351e;
   color: white;
  }

