.todo{
  width : 24px;
  height: 24px;
}

.page-selector {
  /* grid-area: page-selector; */
  /* background-color: #8cfc90; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-selector button {
  background-color: rgb(0, 0, 0, 0.05);
  border: 1px rgb(0, 0, 0, 0.2) solid;
  padding: 1% 2%;
  margin: 1%;
  width: 15%;
  cursor: pointer;
  border-radius: 5px;
}

.page-selector button.active {
  background-color: rgb(77, 234, 37, 0.4);
  border: 2px rgb(0, 0, 0, 0.2) solid;
  color: rgb(0, 0, 0, 0.8);
  font-weight: 600;
}


.main {
  /* margin-left: 160px; */
  /* Same as the width of the sidenav */
  /* padding: 0px 10px; */

  width: 100%;
  height: calc(100vh - 50px);
}

.main-content {
  /* overflow: hidden; */
  overflow-y: scroll;
  height: 100%;
  padding: 5% 10%;

}



.post {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  
  margin-bottom: 210px;
}

.post-header {
  display: flex;
  align-items: center;
  background-color: black;
  padding: 10px;
  border-radius: 5px 5px 0 0;
}

.post-profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.post-header-info {
  display: flex;
  flex-direction: column;
  color: white;
}

.post-header-name {
  font-size: 18px;
  font-weight: bold;
}

.post-header-date {
  font-size: 14px;
  font-weight: normal;
}

.post-content {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.post-description {
  padding: 10px;
}

.post-buttons {
  display: flex;
  flex-direction: row;
  /* align-items: flex-end; */

  align-items: center;
  justify-content: center;
}

.post-button {
  background-color: #4DEA25;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  width: 160px;
  margin-right:10px ;
  margin-left:10px ;
  transition: 0.4s;
}

.post-button:hover {
  color: #4DEA25;
  background-color: rgb(0, 0, 0);
  
}

/* .approved-button {
  background-color: green;
}

.discard-button {
  background-color: red;
}
 */
 .map-button{
  background-color: white;

 }
 .map-button:hover{
  color: #4DEA25;
  
 }


 #more{
  display: none;
 }
 #dots{
  color: white;
 }
#myBtn{
  background-color: white;
  border: none;
  font-weight: 600;
  cursor: pointer;
  line-height: 1;
}

#more{
  font-size: 16;
  font-weight: 500;
}


@media screen and (max-width: 600px) {
  .post-buttons button{
      width: 100%;
  }

  .post-buttons {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
  
      align-items: center;
      justify-content: center;
    }
}
table {
  /* border-collapse: collapse; */
  border-spacing: 50px 0;
}



td {
  padding: 10px;
  position: relative;
}
.image-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 80%;
   /* Creates a square aspect ratio */
  overflow: hidden;
}
.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10%;
}

@media (max-width: 767px) {
  td {
      display: block;
      width: 100%;
  }
  .image-wrapper img {
      display: none;
  }
}

.green{
  color: #0EBC1F;
}

.grey{
  color: #616161;
  font-weight: bold;
}

.fee{
  font-size: 10px;
  color: #ccc;
}