 
.message0{
  width: 70%;
  padding:3% ;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-areas: 
  "message1 message2";
  height: 20px;
  margin-top: 10px;
}

.message0 label:hover{
  cursor: pointer;
}

.message1{
  grid-area: message1;

}

.message1 img{
  border-radius: 50%;
  width: 80%;
}

.message2{
  grid-area: message2;
  font-size: 10px;
  align-items: center;
   justify-content: center;
   display: flex;
}
