/* *{
  box-sizing: border-box;
  font-family: poppins;
  font-size: 17px;
  padding: 8px;
} */

.requestcrop-row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.requestcrop-col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.requestcrop-col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.requestcrop-col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.requestcrop-col-25,
.requestcrop-col-50,
.requestcrop-col-75 {
  padding: 0 16px;
}

.requestcrop-container {
  padding: 1%;
}

/* input[type=text] ,  input[type=email]  ,select{
  width: 100%;
  margin-bottom: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
} */

/* label {
  margin-bottom: 5px;
  display: block;
  font-size: medium;
  font-weight: 500;
} */


.requestcrop-btn {
  background-color: black;
  color: #4DEA25;
  padding: 12px;
  margin: 5px 0;
  border: none;
  border-radius: 10px;
  width: 25%;
font-weight: 550;
  cursor: pointer;
  font-size: 17px;
 
  float: right;
}

.requestcrop-btn:hover {
  background-color: #4DEA25;
  color: black;
}



.requestcrop-modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgba(0, 0, 0, 0.5); /* Dark background */
}

/* Modal Content */
.requestcrop-modal-content {
background-color: #fefefe;
margin: 1% auto; /* 15% from the top and centered */
padding: 10px;
border-radius: 10px;
border: 1px solid #888;
width: 1200px; /* Set the width to 661px */
height: 600px; /* Set the height to 249px */
}

/* The Close Button */
.requestcrop-closeBtn {
color: #aaaaaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.requestcrop-closeBtn:hover,
.requestcrop-closeBtn:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}

.requestcrop-modal-header {
padding: 1px 4px;

}
.requestcrop-modal-header p {
color: #252525;
opacity: 80%;
font-size: 110%;

}
.requestcrop-modal-body {
/* padding: 2px 16px; */
/* 
padding-bottom: 10%; */
}

@media (max-width: 800px) {
  .requestcrop-modal-content {
      width: 700px; /* Set the width to 661px */
      height: 600px; /* Set the height to 249px */
    }
    
}

@media (max-width: 600px) {
  .requestcrop-modal-content {
      width: 450px; /* Set the width to 661px */
      height: 600px; /* Set the height to 249px */
    }

    input[type=text] ,  input[type=email]  ,select{
      width: 100%;
      margin-bottom: 0px;
      padding: 6px;
      border: 1px solid #ccc;
      border-radius: 10px;
    }
    
    label {
      margin-bottom: 0px;
      display: block;
      font-size: small;
      font-weight: 400;
    }
    
    
}


#map {
  width: 100%;
  height: 180px;
  border-radius: 10px;
}