/* .requestcrop-modal{
  box-sizing: border-box;
  font-family: poppins;
  font-size: 17px;
  padding: 8px;
} */

*{
  box-sizing: border-box;
  /* font-family: poppins; */
  /* font-size: 17px;
  padding: 8px; */
}


.requestcrop-row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.requestcrop-col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.requestcrop-col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.requestcrop-col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.requestcrop-col-25,
.requestcrop-col-50,
.requestcrop-col-75 {
  padding: 0 16px;
}

.requestcrop-container {
  padding: 1%;
}

 .requestcrop-modal input[type=text] , .requestcrop-modal  input[type=email]  , .requestcrop-modal select{
  width: 100%;
  margin-bottom: 5px;
  padding: 18px;
  border: 1px solid #ccc;
  border-radius: 10px;
} 

.requestcrop-modal label {
  margin-bottom: 5px;
  display: block;
  font-size: medium;
  font-weight: 500;
  padding: 8px;
} 


.requestcrop-btn {
  background-color: black;
  color: #4DEA25;
  padding: 12px;
  margin: 5px 0;
  border: none;
  border-radius: 10px;
  width: 25%;
font-weight: 550;
  cursor: pointer;
  font-size: 17px;
 
  float: right;
}

.requestcrop-btn:hover {
  background-color: #4DEA25;
  color: black;
}




.requestcrop-modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgba(0, 0, 0, 0.5); /* Dark background */
}

/* Modal Content */
.requestcrop-modal-content {
  box-sizing: border-box;
background-color: #fefefe;
margin: 1% auto; /* 15% from the top and centered */
padding: 10px;
border-radius: 10px;
border: 1px solid #888;
width: 1200px; /* Set the width to 661px */
height: 600px; /* Set the height to 249px */
}

/* The Close Button */
.requestcrop-closeBtn {
color: #aaaaaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.requestcrop-closeBtn:hover,
.requestcrop-closeBtn:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}

.requestcrop-modal-header {
padding: 1px 4px;

}
.requestcrop-modal-header p {
color: #252525;
opacity: 80%;
font-size: 110%;

}
.requestcrop-modal-body {
/* padding: 2px 16px; */
/* 
padding-bottom: 10%; */
}

@media (max-width: 800px) {
  .requestcrop-modal-content {
      width: 700px; /* Set the width to 661px */
      height: 600px; /* Set the height to 249px */
    }
    
}

@media (max-width: 600px) {
  .requestcrop-modal-content {
      width: 450px; /* Set the width to 661px */
      height: 600px; /* Set the height to 249px */
    }

    .requestcrop-modal input[type=text] ,.requestcrop-modal  input[type=email]  ,.requestcrop-modal select{
      width: 100%;
      margin-bottom: 0px;
      padding: 14px;
      border: 1px solid #ccc;
      border-radius: 10px;
      
    }
    
    .requestcrop-modal label {
      margin-bottom: 0px;
      display: block;
      font-size: small;
      font-weight: 400;
      padding: 8px;
    }
    
    
}


#map {
  width: 100%;
  height: 180px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}




.search-bar {
  display: none;
}










.page-selector {
  /* grid-area: page-selector; */
  /* background-color: #8cfc90; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-selector button {
  background-color: rgb(0, 0, 0, 0.05);
  border: 1px rgb(0, 0, 0, 0.2) solid;
  padding: 1% 2%;
  margin: 1%;
  width: 15%;
  cursor: pointer;
  border-radius: 5px;
}

.page-selector button.active {
  background-color: rgb(77, 234, 37, 0.4);
  border: 2px rgb(0, 0, 0, 0.2) solid;
  color: rgb(0, 0, 0, 0.8);
  font-weight: 600;
}


.main {
  /* margin-left: 160px; */
  /* Same as the width of the sidenav */
  /* padding: 0px 10px; */

  width: 100%;
  height: calc(100vh - 50px);
}

.main-content {
  /* overflow: hidden; */
  overflow-y: scroll;
  height: 100%;
  padding: 5% 10%;

}



.post {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  
  margin-bottom: 50px;
}

.post-header {
  display: flex;
  align-items: center;
  background-color: black;
  padding: 10px;
  border-radius: 5px 5px 0 0;
}

.post-profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.post-header-info {
  display: flex;
  flex-direction: column;
  color: white;
}

.post-header-name {
  font-size: 18px;
  font-weight: bold;
}

.post-header-date {
  font-size: 14px;
  font-weight: normal;
}

.post-content {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.post-description {
  padding: 10px;
}

.post-buttons {
  display: flex;
  flex-direction: row;
  /* align-items: flex-end; */

  align-items: center;
  justify-content: center;
}

.approved-button {
  background-color: #4DEA25;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  width: 160px;
  margin-right:10px ;
  margin-left:10px ;
  transition: 0.4s;
}

.approved-button:hover {
  color: #4DEA25;
  background-color: rgb(0, 0, 0);
  
}

/* .approved-button {
  background-color: green;
}

.discard-button {
  background-color: red;
}
 */
 .delete-button{
  background-color: white;
    background-color: #ffffff;
    color: #FB7A7A;
    border: 2px solid #faa5a5;
    /* border: none; */
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    width: 160px;
    margin-right:10px ;
    margin-left:10px ;
    transition: 0.4s;
  }

  .delete-button:hover {
    color: #ffffff;
    background-color: #FB7A7A;
    
  }
  

 



 #more{
  display: none;
 }
 #dots{
  color: white;
 }
#myBtn{
  background-color: white;
  border: none;
  font-weight: 600;
  cursor: pointer;
  line-height: 1;
}

#more{
  font-size: 16;
  font-weight: 500;
}


@media screen and (max-width: 600px) {
  .post-buttons button{
      width: 100%;
  }

  .post-buttons {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
  
      align-items: center;
      justify-content: center;
    }
}

.info-table {
width: 100%;
border-collapse: separate;
border-spacing: 0;
}

.info-table td {
padding: 10px;
}

.info-table .left-column {
color: green;
}

.info-table .right-column {
color: black;
}
