.page-selector {
  /* grid-area: page-selector; */
  /* background-color: #8cfc90; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-selector button {
  background-color: #F7FAF6;
  border: 2px rgba(143, 154, 145, 0.6) solid;
  padding: 1% 2%;
  margin: 1%;
  width: 15%;
  cursor: pointer;
  border-radius: 10px;
}

.page-selector button.active {
  background-color: rgb(77, 234, 37, 0.4);
  border: 2px rgba(88, 92, 88, 0.6) solid;
  color: rgba(46, 51, 45, 0.8);
  font-weight: 600;
}

.post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    height: 20%;
    margin: 10%;
    /* border: 2px solid rgb(219, 234, 214); */
    border-radius: 10px;
    
  }
  
  .left {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  .upper-left {
    width: 20%;
    position: relative;
    display: inline-block;
  }
  
  .upper-left img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    border-radius: 10px;
    width: 130px;
    height: 130px;
  }
  
  .upper-right h2,p {
    margin-top: 0;
    margin-bottom: 5px;
    text-align: left;
  }

  .details{
    float: right;
    margin-bottom: 10px;
  }
  
  .lower {
    font-size: 16px;
    color: #777;
    font-weight: 500;
  }
  
  .buyer-location{
    color: #AED5A4;
  }

  .right {
    width: 60%;
    text-align: left;
    margin-left: 20px;
    border-left: 1px solid rgb(215, 215, 215);
    padding-left: 5%;
    float: right;
    
  }
  .right p{
    margin-bottom: 15px;
    font-weight: 500;
  }
  
.right h4{
  margin-top: 40px;
}

  .upper-right span{
    font-size: small;
  }
  
  .green {
    color: #0EBC1F;
    font-weight: bold;
  }
  
  .exp{
    color: #FB7A7A;
    line-height: 0cm
  }
  
  .buttons {
    display: flex;
    justify-content: left;
    margin-top: 20px;
  }
  
  .post .right button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
    margin-right: 20px;
  }
  
  .request-deliverer {
    background-color: #DBFBD3;
    color: #000000;
  }
  
  .proceed-to-checkout {
    background-color: #ebfde7;
    color: #a3a2a2;
  }
  
  /* Media queries for responsive layout */
  @media only screen and (max-width: 768px) {
    .post {
      flex-direction: column;
      height: auto;
      margin: 5%;
      padding: 10px;
    }
  
    .left {
      width: 100%;
      margin-bottom: 20px;
    }
  
    .right {
      width: 100%;
      margin-left: 0;
      border-left: none;
      padding-left: 0;
      margin-top: 20px;
    }
  
    .upper-left {
      width: 100%;
      margin-bottom: 10px;
      float: left;
    }
    .upper-left img {
        position: absolute;
        /* top: 0;
        left: 0; */
        object-fit: cover;
        border-radius: 10px;
        width: 100px;
        height: 100px;
      }
  
    .upper-right {
      text-align: center;
    }
  
    .upper-right h2 {
      font-size: 1.5rem;
    }
  
    .lower {
      font-size: 12px;
    }
  
    .post .right button {
      padding: 10px;
      font-size: 12px;
      margin-right: 10px;
    }
  }
  