.plus{
  position:fixed;
  left:1400px;
  top: 550px;
  cursor: pointer;
}

  .bid2{
    margin-top: 5%;
    display: grid;
    grid-template-columns: 220px 200px 300px 300px;
    
  }
  .img3{
    position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  }

  .btn2{
    position: absolute;
  width: 100px;
  height: 35px;
  border-width: 0px;
  
  background: #4DEA25;
  border-radius: 5px;
  }
  


.bid1{
  display: grid;
  grid-template-rows: 175px 175px 175px;
  row-gap: 90px;

}
.bid{
  position: absolute;
height: 540px;


overflow: auto;
}