* {
   
  padding: 0%;
  margin: 0%;
  font-family: Poppins;
  
}

hr{
  margin: 10% 5%;
}


h4{
  font-weight: 500;
}

.profmodal {
  display: none;
  position: fixed;
  z-index: 1;
  /* padding-top: 100px; */
  right: 2%;
  top: 10%;
  width: 25%;
  height: 100%; 
  overflow: auto;
}

.main-viewitems{
  grid-area: main;
  /* background-color: rgb(240, 191, 191); */
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10% 70% 20% ;
  grid-template-areas:
  "user user"
  "image info"
  "description description"
  ;
  margin-top: 10px;
}  

.user-viewitems{
  /* padding-top: 5%; */
  padding-bottom: 10%;
  grid-area: user;
  /* background-color: #abf09a */
}

.user-viewitems img{
  border-radius: 50%;
  width: 3%;
  display: inline;
  margin-left: 0%;
  margin-right: 1%;
  margin-top: 1%;
  /* border: 1px solid #8a8d8a; */
}

.user-viewitems label{
  margin-bottom: 1%;
  padding-bottom: 5%;
  line-height: 20%;
  font-weight: bold;
  opacity: 80%;
}

.back-viewitems{
  float: right;
  margin-right: 5%;
  border-style: none;
  
}

/* .image{
  padding-top: 10%;
  grid-area: image;

} */

.image-viewitems img{
  border-radius: 5%;

}

.image-viewitems {
  grid-area: image;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-right: 5%;

}

.info-viewitems{
  grid-area: info;
  /* background-color: #f2ff92; */
  padding: 5%;
  display: grid;
  grid-template-columns: 33% 33% 34%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  grid-template-areas:
  "name name name"
  "exp price price"
  "delivery delivery wish"
  "quantity buy-now add-to-cart"
  "negotiate negotiate neg-btn"
  ;

}

.name-viewitems{
/* background-color: #d4a1a6; */
grid-area: name;
}

.exp-viewitems{
/* background-color: #8ed05b; */
grid-area: exp;
padding-top: 5%;
}

.price-viewitems{
/* background-color: #5bc4d0; */
grid-area: price;
line-height: 100%;
margin-right:10%;
}

.delivery-viewitems{
  /* background-color: #5bc4d0; */
grid-area: delivery;
font-size: small;
padding-top: 5%;
opacity: 80%;
}

.wish-viewitems{
/* background-color: #9f5dcb; */
grid-area: wish;
padding-top: 10%;
/* padding-right: 0%; */
float: left;

display: flex;
align-items: center;
/* justify-content: space-between; */
margin-right:5%;
}

.wish-viewitems label{
float: right;
margin-left: 30%;
opacity: 60%;

}

.wish-viewitems img{
height: 20px;
width: 20px;
cursor: pointer;

}

.wish-viewitems img :hover{
  cursor:pointer;
}

/* .quantity {

grid-area: quantity;
display: flex;
justify-content:center;
align-items: center;
} */
.buy-now-viewitems{
display: flex;
justify-content: right;
align-items: center;
grid-area: buy-now;
}

.buy-now-viewitems button, .add-to-cart-viewitems button{
background-color: #4DEA25;
border-radius: 10%;
padding: 10%;
font-weight: 600;
border-style: none;
border-width: 0;

}

.add-to-cart-viewitems{
display: flex;
justify-content: center;
align-items: center;
grid-area: add-to-cart;
}

.negotiate-viewitems{

grid-area: negotiate;
padding: 4% 4%;
font-size: small;
opacity: 50%;
}

.neg-btn-viewitems{

grid-area: neg-btn;
display: flex;
justify-content: center;
align-items: center;
}

.neg-btn-viewitems button{
background-color: rgba(77, 234, 37, 0.2);
color: #4DEA25;
border-radius: 10%;
padding: 10%;
font-weight: 600;
border-style: none;
border-width: 0;
}

.description-viewitems{
  grid-area: description;
  /* background-color: #ea9af0; */
  padding-left: 5%;
  padding-top: 1%;
}

.description-viewitems hr{
  margin-top: 1% ;
  margin-left: 0%;
  
}

  .radio-inline-viewitems{
    accent-color:green;
}
.radio-inline-viewitems:hover{
    accent-color:green;
    cursor: pointer;
}

/* -- quantity box -- */

.quantity {
display: inline-block; 
grid-area: quantity;
display: flex;
justify-content:center;
align-items: center;
}

.quantity .input-text.qty {
width: 35px;
height: 39px;
padding: 0 5px;
text-align: center;
background-color: transparent;
border: 1px solid #efefef;
}

.quantity.buttons_added {
text-align: left;
position: relative;
white-space: nowrap;
vertical-align: top; }

.quantity.buttons_added input {
display: inline-block;
margin: 0;
vertical-align: top;
box-shadow: none;
}

.quantity.buttons_added .minus-viewitems,
.quantity.buttons_added .plus-viewitems {
padding: 7px 10px 8px;
height: 41px;
background-color: #ffffff;
border: 1px solid #efefef;
cursor:pointer;}

.quantity.buttons_added .minus-viewitems {
border-right: 0; }

.quantity.buttons_added .plus-viewitems {
border-left: 0; }

.quantity.buttons_added .minus-viewitems:hover,
.quantity.buttons_added .plus-viewitems:hover {
background: #eeeeee; }

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
-webkit-appearance: none;
/* -moz-appearance: none; */
margin: 0; }

.quantity.buttons_added .minus-viewitems:focus,
.quantity.buttons_added .plus-viewitems:focus {
outline: none; }  


