<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="layout.css">
</head>

<body>
    <div class="container">
        <div class="top-nav">
            Top Nav
        </div>
        <div class="main">
            <div class="side-bar">
                Side Bar
            </div>
            <div class="main-content">
                Main Content
                <div class="headers">
Headers
                </div>
                <div class="content-final">
                    <div class="filler"></div>
                    <div class="filler"></div>
                    <div class="filler"></div>
                    <div class="filler"></div>
                    <div class="filler"></div>
                    <div class="filler"></div>
                    <div class="filler"></div>
                    <div class="filler"></div>
                    <div class="filler"></div>
                    <div class="filler"></div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>