 * {
    padding: 0%;
    margin: 0%;
    font-family: poppins;
    box-sizing: border-box;
}

 hr{
    margin: 0% 10%;
  }

.container {
    /* display: grid;
    grid-template-rows: 10% 90%;
    /* grid-template-rows: 10% 90% ; */
    /* grid-template-areas:
    " topnav"
    "content"
    ;  */
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.topnav {
    /* overflow: hidden; */
    background-color: #EBF3E9;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 0;
    height: 50px;
}

@media screen and (min-width: 600px) {
    .topnav-options {
        position: absolute;
        top: 0;
        right: 10px;
        display: flex;
        flex-direction: row;

        /* height: 100%; */
    }

    .logo {
        position: absolute;
        left: 10px;
        display: flex;
        flex-direction: row;
        height: 60px;
        top: 0;
    }
}


.topnav a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-size: 80%;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #2196F3;
    color: white;
}

.topnav-options img {
    height: 30px;
    border-radius: 50%;
    justify-content: center;
    align-content: center;
}




.topnav .search-container {
    float: left;
}

.topnav input[type=text] {
    padding: 6px;
    font-size: 17px;
    border: none;
}

.topnav .search-container button {
    float: center;
    padding: 6px 10px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.topnav .search-container button:hover {
    background: #ccc;
}



@media screen and (max-width: 600px) {
    .topnav .search-container {
        float: none;
    }

    .topnav a,
    .topnav input[type=text],
    .topnav .search-container button {
        float: none;
        /* display: block; */
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }

    .topnav input[type=text] {
        border: 1px solid #ccc;
    }

    .logo {
        display: none;
    }

    .topnav-options {
        /* position: absolute;
        top: 0; */
        /* right: 10px; */
        display: flex;
        flex-direction: row;
        /* height: 100%; */
    }

    .logo {
        /* position: absolute;
            left: 10px; */
        display: flex;
        flex-direction: row;
        height: 60px;
        /* top: 0; */
    }
}




.content {
    /* background-color: antiquewhite; */
    /* overflow: hidden; */
     width: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;

    overflow: hidden;
}


#my-orders {
    font-weight: bold;
}


.page-selector {
    /* grid-area: page-selector; */
    /* background-color: #8cfc90; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-selector button {
    background-color: rgb(0, 0, 0, 0.05);
    border: 1px rgb(0, 0, 0, 0.2) solid;
    padding: 1% 2%;
    margin: 1%;
    width: 15%;
    cursor: pointer;
    border-radius: 5px;
}

.page-selector button.active {
    background-color: rgb(77, 234, 37, 0.4);
    border: 2px rgb(0, 0, 0, 0.2) solid;
    color: rgb(0, 0, 0, 0.8);
    font-weight: 600;
}


.leftbar {
    /* height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1; */
    /* top: 0; */
    left: 0;
    background-color: #EBF3E9;
    /* overflow-x: hidden; */
    padding-top: 16px;

    width: 300px;
    height: calc(100vh - 50px);
}


.leftbar i {
    margin-right: 10px;
    
}

.leftbar p{
    font-weight: lighter;
    font-size: small;color: #5d5d5d;
}

.leftbar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    margin: 20px;
}

.leftbar a:hover {
    color: #5d5b5b;
}

.leftbar p{
   /* margin-top: 0%; ; */
   margin: 0% 10%;
    
}
.leftbar .menu button{
   /* margin-top: 0%; ; */
   margin: 0% 10%;
   /* justify-content: center; */
   width: 70%;
   padding:3% ;
   display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-radius: 10%;
  background-color: #abf09a;
  font-size: 400;
    
}

.leftbar .menu button img{
    margin-right: 10px;
}
.leftbar .menu button span {
    margin-left: 10px;
    margin-right: auto;
  }



.message-box{
    margin: 0% 10%;
    /* justify-content: center; */
    width: 70%;
    padding:3% ;
    /* display: flex; */
   /* align-items: center; */
   border: none;
   border-radius: 10%;
   background-color: #ffffff;
   height: 180px;
}

.message-footer{
    position: fixed;
    left: 60px;
    bottom: 80px;
}



.message-footer button {
    
    width: 110px;
    background-color: #4DEA25;
    border-radius: 10%;
    padding: 3%;
    font-size: small;
    font-weight: 500;
    border-style: none;
    border-width: 0;
    cursor: pointer;
    transition-duration: 0.4s;

}

.message-footer button:hover {
    background-color: #000000;
    color: #4DEA25;


}
  
.message0{
    width: 70%;
    padding:3% ;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: 
    "message1 message2";
    height: 20px;
    margin-top: 10px;
}

.message0 label:hover{
    cursor: pointer;
}

.message1{
    grid-area: message1;

}

.message1 img{
    border-radius: 50%;
    width: 80%;
}

.message2{
    grid-area: message2;
    font-size: 10px;
    align-items: center;
     justify-content: center;
     display: flex;
}

.main {
    /* margin-left: 160px; */
    /* Same as the width of the sidenav */
    /* padding: 0px 10px; */

    width: 100%;
    height: calc(100vh - 50px);
}

.main-content {
    /* overflow: hidden; */
    overflow-y: scroll;
    height: 100%;
    padding: 5% 10%;

}

@media screen and (max-height: 450px) {
    .leftbar {
        padding-top: 15px;
    }

    .leftbar a {
        font-size: 18px;
    }
}






.post {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    
    margin-bottom: 10px;
  }
  
  .post-header {
    display: flex;
    align-items: center;
    background-color: black;
    padding: 10px;
    border-radius: 5px 5px 0 0;
  }
  
  .post-profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .post-header-info {
    display: flex;
    flex-direction: column;
    color: white;
  }
  
  .post-header-name {
    font-size: 18px;
    font-weight: bold;
  }
  
  .post-header-date {
    font-size: 14px;
    font-weight: normal;
  }
  
  .post-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  .post-description {
    padding: 10px;
  }
  
  .post-buttons {
    display: flex;
    flex-direction: row;
    /* align-items: flex-end; */

    align-items: center;
    justify-content: right;
  }
  
  .post-button {
    background-color: #ffffff;
    color: #FB7A7A;
    border: 2px solid #faa5a5;
    /* border: none; */
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    width: 160px;
    margin-right:10px ;
    margin-left:10px ;
    transition: 0.4s;
  }
  .post-button:hover {
    color: #ffffff;
    background-color: #FB7A7A;
    
  }
  
  /* .approved-button {
    background-color: green;
  }
  
  .discard-button {
    background-color: red;
  }
   */



   #more{
    display: none;
   }
   #dots{
    color: white;
   }
#myBtn{
    background-color: white;
    border: none;
    font-weight: 600;
    cursor: pointer;
    line-height: 1;
}

#more{
    font-size: 16;
    font-weight: 500;
}


  @media screen and (max-width: 600px) {
    .post-buttons button{
        width: 100%;
    }

    .post-buttons {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    
        align-items: center;
        justify-content: center;
      }
  }

.info-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.info-table td {
  padding: 10px;
}

.info-table .left-column {
  color: green;
}

.info-table .right-column {
  color: black;
}
